.root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: aqua;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
}
body {
    background-color: white;
}

.app{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

ul {
  list-style: none;
  width: fit-content;
  padding: 15px;
  background-color: #3bceac;
  border-radius: 0.6em;
  outline: black solid 1px;
}
h1{
  background: local;
}
h2{
  background-color: local;
}

a{}
.a:hover {
	color: blue;
}
.a:active {
	color: red;
}
/*Note for self, continue to sort out the different issues and possiblely ...
  add more divs to "constrain manipulation of design"*/