.user-form{
    width: 45vW;
    background-color: lightgrey;
    Padding: 15px;
    border-radius: 0.6em;
    animation-name: fadein;
    animation-duration: 1s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

form{
    width: fit-content;
    margin: auto;
}

.error {
    color: red
}

.user-form h1{
  width: fit-content;
  margin: auto;
}

input:required:valid {
    border: 2px solid green
}
input{
    background-color: white;
}
.required:invalid {
    border: 2px solid red
}

textarea{
    width: 300px;
    height: 100px;
    background-color: local;
}



label{
    background-color: local;
  }

label h2{
    background-color: local;
    width: fit-content;
}
.text{
    background-color: local;
}

.zip_city{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
}

.ZipCode input{
  width: 100px; /* 100 standard */
}

.City input{
  width: 300px; /* 300 standard */
}

.Address input{
  width: 418px;
}

.BilAddress input{
  width: 418px;
}

.Name input{
  width: 418px;
}

.Phone input{
  width: 418px;
}

.Email input{
  width: 418px;
}

.CompName input{
  width: 418px;
}

.CompCVR input{
  width: 418px;
}

.Comments textarea{
  width: 418px;
}



.loader {
    width: fit-content;
    height: fit-content;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .submit{
    width: auto;
    display: flex;
    place-content: end;
  }
  .submit button:hover{
    cursor: pointer;
  }
  .submit button:active{
    position: relative;
  }

  .Terms:hover{
    cursor: pointer;
  }

  .Marketing:hover{
    cursor: pointer;
  }

  form h2{
    font-size: 1em;
  }

.zip{
    width: 5em;
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width: 992px){
    .user-form{
      width: fit-content;
      padding: 10px;
    }

    .ZipCode input{
      width: 75px;
    }

    .City input{
      width: 225px;
    }

    .Address input{
      width: 318px; /* 426px */
    }

    .BilAddress input{
      width: 318px;
    }

    .Name input{
      width: 318px;
    }

    .Phone input{
      width: 318px;
    }

    .Email input{
      width: 318px;
    }

    .CompName input{
      width: 318px;
    }

    .CompCVR input{
      width: 318px;
    }

    .Comments textarea{
      width: 318px;
    }
  }

  @media screen and (max-width: 750px){
    .user-form{
      width: fit-content;
      padding: 5px;
    }
    
    .ZipCode input{
      width: 75px;
    }

    .City input{
      width: 125px;
    }

    .Address input{
      width: 218px;
    }

    .BilAddress input{
      width: 218px;
    }

    .Name input{
      width: 218px;
    }

    .Phone input{
      width: 218px;
    }

    .Email input{
      width: 218px;
    }

    .CompName input{
      width: 218px;
    }

    .CompCVR input{
      width: 218px;
    }

    .Comments textarea{
      width: 218px;

    }
  }